.header {
    height: var(--header-height);
    padding: 8px 16px;
    box-sizing: border-box;


    display: flex;
    align-items: center;
    gap: 16px;

    border-bottom: 1px solid rgb(223, 223, 223);
    position: sticky;
}